html{
    display:flex; 
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
body{
    margin-top: 40px; 
    height: 590px; 
    background-color: rgb(255,255, 200);
    padding: 1%; 
    border: 7px Solid Black; 
    width: 300px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 13px;  
}

.header{
    font-size: 28px; 
    font-family: 'Mochiy Pop One', sans-serif;
    border-bottom: 3px Solid Black;
    
}
