html{
    background-color: whitesmoke;

    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: rgb(80, 138, 186);

    height: 590px; 
    width: 300px;

    border: 7px solid black;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 13px;
}

.header{
    /*
    background-color: rgb(187, 217, 241);
    */
    background-color: rgb(0, 100, 230);
   
    width: 300px;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom: 3px Solid Black;

    position: fixed;
    z-index: 3;

    font-size: 28px; 
    font-family: 'Mochiy Pop One', sans-serif;
    color: white; 
}

/*
#set{
    width: 6%;

    position:absolute;
    top: 1px;
    right: 1px;
    z-index: 3;
}
*/
#phone{
    overflow-y: scroll;

    margin-top: 59px;

    max-height: 489px;
    max-width: 300px;

    z-index: 0;
}

#phone::-webkit-scrollbar { /*chrome*/
    display: none;
}

#phone { /* Firefox */
    scrollbar-width: none; 
    -ms-overflow-style: none;  
}

#area{
    display: flex;
    justify-content: center;

    color: white;
    font-size: 20px;
}

.item{
margin-top: 10px;
}

#label{
    margin-bottom: -10px;
}

#event{
    height: 150px;
    width: 220px;

    display: flex;
    justify-content: center;
    
    z-index: 0;

    margin: auto;
    margin-bottom: -75px;

    border: 2px solid black;


}

.card{
    background-color: rgb(245, 245 ,245);

    margin: auto;
    margin-top: 10px;

    width: 220px;
    height: 120px;

    position:relative; 
    top:0px; right:0px; bottom:0px; left:0px; 
    z-index: 1;

    border: 2px solid black;
    border-top: 0px;

    font-weight: bold;
    text-align: left;
}

.card:hover{
    background-color: rgb(225, 225 ,225);
}

.toolbar{
    background-color: #333;

    width: 300px; 
    height: 10%;

    margin-top: -18px;

    position: relative;
  
    color: #fff;
    text-align: center;
    
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top: 3px Solid Black;

    z-index: 3;
}

#footer {
    width: 100%;

    position: fixed;
    bottom: 0;
}

#drop{
    width: 30px;

    position:absolute;
    top: 15px;
    left: 20px;
    z-index: 3;
}

#drop:hover{   
    opacity: .5;
}

#donate{
    width: 30px;

    position:absolute;
    top: 15px;
    left: 100px;
    z-index: 3;
}

#donate:hover{
    opacity: .5;
}

#search{
    width: 30px;

    position:absolute;
    top: 15px;
    right: 100px;
    z-index: 3;
}

#search:hover{
    opacity: .5;
}

#account{
    width: 30px;

    position:absolute;
    right: 20px;
    top: 15px;
    z-index: 3;
}

#account:hover{
    opacity: .5;
}

#load{
    background-color: rgb(187, 217, 241);
    
    width: 300px;
    height: 591px;

    position:absolute; 
    top: 12px;
    
    display:flex;
    justify-content: center;
    align-items: center;

    z-index: 10;

    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;

    color: white;
    font-size: 28px; 
    font-family: 'Mochiy Pop One', sans-serif;
    
}

#logo{
    width: 95%;

    display:flex;
    justify-content: center;
    align-items: center;
    
}